[submodule "frontend"]
	path = frontend
	url = https://github.com/liks79/moving-to-container-frontend.git
[submodule "backend-user"]
	path = backend-user
	url = https://github.com:liks79/moving-to-container-backend-user.git
[submodule "backend-photo"]
	path = backend-photo
	url = https://github.com:liks79/moving-to-container-backend-photo.git
[submodule "backend-admin"]
	path = backend-admin
	url = https://github.com:liks79/moving-to-container-backend-admin.git
[submodule "aws-xray"]
	path = aws-xray
	url = https://github.com/liks79/moving-to-container-aws-xray.git
